@import 'reset.css';

* {
    font-family: sans-serif;
    color: #000;
}

header#main{
    width: 100%;
    height: 65px;
    background: linear-gradient(270deg, rgba(47,239,188,1) 0%, rgba(0,255,145,1) 100%);
}

h1{
    font-size: 2em;
    padding-left: 15px;
    line-height: 65px;
    color: #fff;
}

h2{
    font-size: 1.33em;
    padding-left: 10px;
    line-height: 40px;
    text-transform: uppercase;
}

h2, h2 span{
    color: #fff;
}

#wrapper{
    width: 800px;
    margin: auto;
    padding-top: 150px;
}

#list {
    width: 300px;
    float: left;
    margin-right: 15px;
}

#details {
    width: 485px;
    float: left;
    display: none;
}

#list header, #details header{
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, rgba(47,239,188,1) 0%, rgba(0,255,145,1) 100%);
}

#list ul, #details #form{
    border: 1px solid #d3d3d3;
    min-height: 320px;
}

#list ul li{
    height: 32px;
    width: 100%;
    line-height: 32px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 1em;
}

#list ul li.item{
    text-indent: 8px;
}

#list ul li span{
    color: #999999;
}

#list ul li input.edit {
    height: 30px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    display: none;
}

#list ul li.checked span{
    text-decoration: line-through
}

#list li.add_item input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    height: 30px;
    padding: 3px;
    text-indent: 32px;
}

@media all and (max-width: 800px){
    
    #wrapper {
        width: 330px;
        padding-top: 150px;
    }

    #list {
        width: 330px;
        float: left;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #details {
        width: 330px;
        float: left;
    }
    
}
